.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 40px;
  width: 120px;
  border: none;
  background: var(--magenta);
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

@media (min-width: 601px) {
  .button:hover {
    background: var(--plum);
  }

  .button:hover .svg-icon {
    animation: flickering 2s linear infinite;
  }
}

@media (max-width: 600px) {
  .button.active {
    background: var(--plum);
  }
}
